

<div class="container-fluid" style="background-color: cornflowerblue;height: 93vh">
  <div class="container d-flex justify-content-center">
    <div class="m-0 auto mt-4" style="background-color: #0078ff;padding: 15px; width: 500px ;height: auto;margin: 0 auto">
      <div>
        <h2 class="text-white text-center">Register</h2>
      </div>
      <div>
        <div class="form-group">
          <label class="text-white">Your Name</label>
          <div class="d-flex" style="background-color: lightgray">
            <div class="text-center" style="width: 46px;line-height: 10px">
              <i class="fa fa-user" style="font-size: 37px;color: #0078ff"></i>
            </div>
            <input class="form-control" type="text" style="width:90%;float: right" name="name"  required />
          </div>
        </div>

        <div class="form-group">
          <label  class="text-white">Your Email</label>
          <div class="d-flex" style="background-color: lightgray">
            <div class="text-center" style="width: 46px;line-height: 10px">
              <i class="fa fa-envelope" style="font-size: 37px;color: #0078ff"></i>
            </div>
            <input class="form-control" type="email" style="width:90%;float: right"  name="email"  required />
          </div>

        </div>

        <div class="form-group">
          <label  class="text-white">Username </label>
          <div class="d-flex" style="background-color: lightgray">
            <div class="text-center" style="width: 46px;line-height: 10px">
              <i class="fa fa-users" style="font-size: 37px;color: #0078ff"></i>
            </div>
            <input class="form-control" type="text" style="width:90%;float: right" name="username"  required />
          </div>
        </div>

        <div class="form-group">
          <label  class="text-white">Password</label>
          <div class="d-flex" style="background-color: lightgray">
            <div class="text-center" style="width: 46px;line-height: 10px">
              <i class="fa fa-lock" style="font-size: 37px;color: #0078ff"></i>
            </div>
            <input class="form-control" type="password" style="width:90%;float: right"  name="password"  required />
          </div>
        </div>

        <div class="form-group">
          <label  class="text-white">Confirm Password</label>
          <div class="d-flex" style="background-color: lightgray">
            <div class="text-center" style="width: 46px;line-height: 10px">
              <i class="fa fa-lock" style="font-size: 37px;color: #0078ff"></i>
            </div>
            <input class="form-control" type="password" style="width:90%;float: right" name="password"  required />
          </div>
        </div>
        <div class="form-group">
          <br>
          <button class="btn"  style="width: 100%">Login</button>
          <br>
        </div>

        <div class="text-center">
          <a routerLink="/login" class="text-white">login</a><span class="text-white"> / </span>
          <a routerLink="/register" class="text-white">register</a>
        </div>
      </div>

    </div>
  </div>
</div>







<p>register works!</p>
